body {
    font-family: Arial;
    background-color:rgb(60, 60, 60);
    color: white;
}

/*
article {
    width: 45%;
    border: 1px solid;
}

#prog {
    float: left;
}

#irodai {
    float: left;
}

#media {
    float: left;
}

#lang {
    float: left;
}*/

a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

a:hover {
    background-color: orange;
    color: white;
}