body {
    font-family: Arial;
    background-color:rgb(60, 60, 60);
    color: white;
}
h3 {
    background-color: grey;
}
a {
    text-decoration: none;
    color: orange;
}
a:hover {
    background-color: orange;
    color: white;
}

section {overflow:auto;}
.R {float:right; width:45%;}
.L {float:left; width:45%;}